@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Barlow:wght@300&family=Lato:wght@300&family=Merriweather&family=Oswald&family=PT+Sans+Caption&family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100%; 
  background: url('/assets/images/backgroundquiz.jpg') no-repeat cover;
}

/* class to center elements */
.center {
  margin: auto;
  width: 100%;
  border: 3px solid #141414;
  padding: 10px;
}

/* background and font-size for header */
#header {
  background-color: rgb(20 20 20);
  font-size: xx-large;
}

/* Header colour whiteish */

#header>h1 {
  color: #eee
}

/* Main window area after header */
main {
  
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

/* class for first div container */
.screen1 {
  display: flex;
  top: auto;
  bottom: auto;
  background: url('/assets/images/backgroundquiz.jpg');
  background-size: cover;
  background-position: 75%;
  padding: 20px 10% 0 10%;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
}

/* Main card container class */

.container {
 /* position: absolute; */
  top: 20%;
  left: 35%;
  width: 400px;
  padding: 20px;
  /* margin-top: 180px;
  margin-left: 350px; */
  box-shadow: 1 2px 4px rgb(113 19 26 / 95%);
  border-radius: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);


}

/* footer postioned at bottom of screen */

#footer {
  background-color: black;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}

/* align h1 center */
h1 {
  text-align: center;
}

/* classes for question from array of objects */
.question {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.options {
  margin-bottom: 20px;
  text-align: left;
}

.option {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.option label {
  margin-left: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #800930;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide {
  display: none;
}

/* format for social element in footer */

.socials {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 40px;
  color: #3a7cae;
  list-style: none;
  padding: 0.5em 0;
}

/* style for social icons */
.socials li a {
  text-decoration: none;
  color: #1b89dc;
}

.socials li a i {
  margin-right: 8px;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .container {
    top: 20%;
    left: 35%;
    right: 35%;
    font-size: auto;

  }

  .screen1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    top: 35%;
    left: 20%;
    right: 20%

  }

  .screen1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    top: 25%;
    left: 25%;
    right:25%;
    display: flex;
    align-items: center;
    font-size: auto;

  }

  .screen1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    width: 100%;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'96
}

/* added to adjust flex of container */
.flex-container {
  width: 800px;
  height: auto;

}
.github-profile-image {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  top:auto;
  border:1px solid rgb(194, 193, 193);
  box-shadow: 0px 0px 20px rgb(28, 29, 30);
  
}